{% load humanize %}

{% for transaction in transactions %}
<div class="card em-bg mt-1">
  <div class="card-body em-bg">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="em-center-align em-amount em-expense"><h1><i class="las la-rupee-sign"></i>{{ transaction.amount|floatformat|intcomma }}</h1></div>
      </div>
      <div class="col-sm-6 col-md-8">
        <a href="{% url 'em:transaction-detail' pk=transaction.pk %}">
          <strong class="desc-in-table em-text">#{{ transaction.id }} {{ transaction.title }}</strong>
        </a>
        <a href="{% url 'em:transaction-update' pk=transaction.pk %}"><i class="las la-edit"></i></a>
        <br/>
        <a href="{% url 'em:category-detail' pk=transaction.category.pk %}">
          <span class="em-secondary"><i class="{{ transaction.category.icon }}"></i> {{ transaction.category }}</span><br/>
      </a>        
        <a href="{% url 'em:account-detail' transaction.account.pk %}">
          <span class="em-secondary">
            <i class="las la-exchange-alt"></i> {{ transaction.account }}
            </span>
        </a><br/>
        <span class="em-secondary"><i class="las la-calendar"></i> {{ transaction.date }}</span>        
      </div>      
    </div>
  </div>
</div>
{% endfor %}
