
{% extends 'em/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>
    <div class="card">
        <div class="card-header">
            <h3><i class="las la-key"></i> Create Budget</h3>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

