{% extends 'em/base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}
<br/>
<br/>
<div>

    <div class="card mt-2">
        <div class="card-header">
            <div class="float-left"><h3><i class="{{ category.icon }}"></i> Budget ( {{ total_budget|floatformat|intcomma }} )</h3></div>                        
        </div>
        <div class="card-body">
            
            <table class="table table-responsive">
                <thead>
                  <tr>                    
                    <th scope="col">Name</th>                    
                    <th scope="col">Type</th>                               
                    <th scope="col">Amount</th>                               
                  </tr>
                </thead>
                <tbody>
                    {% for budget in budgets %}
                    <tr>                        
                        <th scope="row">
                            <a href="#">
                                #{{ budget.pk }} - {{ budget.title }} 
                            </a>
                        </th>                        
                        <td>
                            {{ budget.category }}
                        </td>
                        <td>
                            {{ budget.amount|floatformat|intcomma }}
                        </td>
                    </tr>     
                    {% endfor %}                               
                </tbody>
              </table>
                       
        </div>        
        <div class="card-footer">
            <div class="float-right">
                <a href="?ref_month={{ prev_month|date:'m-Y' }}" class="btn btn-sm btn-dark"><i class="las la-angle-double-left"></i>{{ prev_month|date:'m-Y' }}</a>                  
                <a href="{% url 'em:budget-list' %}" class="btn btn-sm btn-dark"><i class="las la-calendar-day"></i></a>  
                <a href="?ref_month={{ next_month|date:'m-Y' }}" class="btn btn-sm btn-dark">{{ next_month|date:'m-Y' }}<i class="las la-angle-double-right"></i></a> 
            </div>
        </div>        
    </div>       
</div>
{% endblock %}

