<canvas class="em-fg" id="account_chart" width="400" height="400" style="background-color: #363636;"></canvas>
<script>
var ctx = document.getElementById('account_chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',    
    data: {
        labels: {% autoescape off %} {{ account_labels }} {% endautoescape %},
        datasets: [{
            label: 'Spendings by Accounts',
            data: {{ account_values }},
            // pointStyle: 'triangle',
            fill: true,            
            backgroundColor: [
                'rgba(153, 102, 255, 0.6)',
                'rgba(123, 152, 235, 0.6)',                
                'rgba(255, 159, 64, 0.6)',
                'rgba(103, 192, 205, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(54, 162, 235, 0.6)',                
                'rgba(75, 192, 192, 0.6)',                
                'rgba(255, 99, 132, 0.6)',
            ],
            borderColor: [  
                'rgba(153, 102, 255, 1)',
                'rgba(123, 152, 235, 1)',                
                'rgba(255, 159, 64, 1)',            
                'rgba(103, 192, 205, 1)',
                'rgba(255, 206, 86, 1)',  
                'rgba(54, 162, 235, 1)',                
                'rgba(75, 192, 192, 1)',                
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 2
        }]
    },
    options: {
        responsive: true,     
        plugins: {
            legend: {
                position: 'bottom',
                labels: {
                    color: 'rgba(153, 102, 255, 0.6)',
                }                
            },
            title: {
                display: true,
                text: 'Spendings by Accounts',
                color: 'rgba(153, 102, 255, 0.6)',
            }            
        },
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>