{% extends 'em/base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}
<div>
    <div class="card">
        <div class="card-header">
            <div class="float-left"><h3><i class="{{ category.icon }}"></i> {{ category.name }}</h3></div>            
            <a href="{% url 'em:category-delete' pk=category.pk %}" class="btn btn-danger btn-sm float-right ml-1">Delete</a> 
            <a href="{% url 'em:category-update' pk=category.pk %}" class="btn btn-primary btn-sm float-right">Edit</a>     
        </div>
        <div class="card-body">
            <div class="em-text">
                <span><strong>Name: </strong><i class="{{ category.icon }}"></i> {{ category.name }}</span><br/>                
                <span><strong>Transactions: </strong>{{ category.transactions.count }}</span><br/>
                <span><strong>Total Amount: </strong>{{ ttl_amt|floatformat|intcomma }}</span><br/>
                {% if request.GET.ref_dt %}
                    <span><strong>Selected date: </strong>{{ request.GET.ref_dt }} <a href="{% url 'em:category-detail' pk=category.pk %}" style="color: red;"><i class="las la-trash"></i></a></span><br/>                    
                {% endif %}
            </div>
            <br/>
            
            {% include "em/transactions_list_sub.html" %}            
                       
        </div>        
    </div>
</div>
{% endblock %}

