{% extends "em/base.html" %}

{% load humanize %}


{% block content %}
<style>
    .metric-card{
        background-color: #0D47A1;
        color: white;   
        border-radius: 7px;
        align-content: center;
        font-family: 'Montserrat', sans-serif;
    }
</style>
<div class="row">

    <div class="col-sm-4">
      <div class="card" style="border-radius: 7px;">
        <div class="card-body metric-card">
            <div class="card-title" style="font-size: 70px;" align="center">6000</div>
            <hr/>
            <p align="center">Incoming</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card" style="border-radius: 7px;">
          <div class="card-body metric-card" style="background-color: #B71C1C;">
              <div class="card-title" style="font-size: 70px;" align="center">6000</div>            
              <hr/>
              <p align="center">Out Going</p>
          </div>
        </div>
    </div>
    
    <div class="col-sm-4">
      <div class="card" style="border-radius: 7px;">
        <div class="card-body metric-card" style="background-color: #00695C;">
            <div class="card-title" style="font-size: 70px;" align="center">6000</div>            
            <hr/>
            <p align="center">Available</p>
        </div>
      </div>
  </div>
</div>

<br>

<div class="row">
  <divc class="col">

    <div class="card">
      <div class="card-body">
      
        <form method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-9">
              <input type="text" name="transaction" class="form-control form-control-lg" placeholder="1400 @fd spent on food">
            </div>
            <div class="col-3" align="center">
              <button class="btn btn-primary btn-lg " type="submit">Add Transaction</button>
            </div>
            
          </div>
        </form>
        <br>

        <!-- <div class="alert alert-success" role="alert">
          A simple success alert—check it out!
        </div> -->

        {% if messages %}        
            {% for message in messages %}
              {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{message}}</div>
              {% else %}
                <div class="alert alert-danger" role="alert">{{message}}</div>
              {% endif %}            
            {% endfor %}        
        {% endif %}

    </div>

    </div>
    
    

  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-8">

    
      <div class="card">
        <div class="card-body">
            <div>
              
              <table class="table table-hover">                
                  <tr>                    
                    <th style="width: 50%;">Description</th>
                    <th style="width: 50%; text-align: right;">Amount</th>                    
                  </tr>
                  </thead>
                  <tbody>
                    {% for transaction in transactions %}
                    <tr>                       
                      <td>
                        <a href="{% url 'em:transaction-detail' pk=transaction.pk %}">
                          <strong class="desc-in-table">#{{ transaction.id }} {{ transaction.title }}</strong>
                      </a>
                      <br/>                         
                        <span class="secondary">{{ transaction.category }}</span>                        
                      </td>         

                      {% if transaction.tran_type == 'EX' %}
                        <td class="amount-in-table" style="color: red; text-align: right;">-{{ transaction.amount|intcomma }}</td>
                      {% elif transaction.tran_type == 'IN' %}
                        <td class="amount-in-table float-right" style="color: green;">+{{ transaction.amount|intcomma }}</td>                      
                      {% endif %}

                    </tr>
                    {% endfor %}                    
                  </tbody>
              </table>

            </div>
        </div>
      </div>
    

  </div>
  <div class="col-md-4">
    
    
      
      <div class="card">
        <div class="card-body">
            <div>
              <h3 align="center">Categories</h3>

              <table class="table table-bordered center">
                <thead>
                  <tr>                    
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Count</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                    <tr>           
                      <th scope="row" style="background-color: #78909C;">@{{ category.code }}</th>         
                      <td>{{ category.name }}</td>                                        
                      <td>{{ category.transactions.count }}</td>
                    </tr>
                  {% endfor %}
                                    
                </tbody>
              </table>

            </div>
        </div>
      </div>

    
    <br>
    
      
      <div class="card">
        <div class="card-body">
            
          <div>
            <h3>EM</h3>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>

          </div>

        </div>
      </div>

    

  </div>
</div>

   


    
{% endblock %}