{% extends 'em/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>

    <div class="card mt-2">
        <div class="card-header">
            <div class="float-left"><h3><i class="{{ category.icon }}"></i> KeyStores</h3></div>                        
        </div>
        <div class="card-body">
            
            <table class="table table-responsive">
                <thead>
                  <tr>                    
                    <th scope="col">Key</th>                    
                    <th scope="col">Value</th>                               
                  </tr>
                </thead>
                <tbody>
                    {% for entry in keystores %}
                    <tr>                        
                        <th scope="row">
                            <a href="{% url 'em:keystore-detail' pk=entry.pk %}">
                                #{{ entry.pk }} - <i class="{{ entry.category.icon }}"></i>{{ entry.key }} 
                            </a>
                        </th>                        
                        <td>
                            {{ entry.value }}                            
                        </td>
                    </tr>     
                    {% endfor %}                               
                </tbody>
              </table>
                       
        </div>        
    </div>       
</div>
{% endblock %}

