
{% extends 'em/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>
    <div class="card em-fg em-text">        
        <div class="card-body">
            <h3 class="card-title"><i class="las la-key"></i> Create New Account</h3>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

