{% extends 'em/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>
    <div class="card em-fg em-text">        
        <div class="card-body">
            <div class="card-title">
                <h3>
                    <i class="{{ account.icon }}"></i> {{ account.name }}                
                </h3>            
            </div>
            <span class="em-secondary">Name: {{ account.name }}</span><br/>
            <span class="em-secondary">Type: {{ account.act_type }}</span><br/>
            <span class="em-secondary">Statement date: {{ account.statement_date }}</span><br/>
            <span class="em-secondary">Total Amount: {% firstof spendings "0.0" %}</span><br/>
            <span class="em-secondary">Month: {{ cur_month|date:'m-Y' }}</span><br/>
            
            <hr/>
            <a href="{% url 'em:account-update' pk=account.pk %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="#" class="btn btn-sm btn-danger">Delete</a>            
            <div class="float-right">
                <a href="?ref_month={{ prev_month|date:'m-Y' }}" class="btn btn-sm btn-primary"><i class="las la-angle-double-left"></i>{{ prev_month|date:'m-Y' }}</a>                  
                <a href="{% url 'em:account-detail' account.pk %}" class="btn btn-sm btn-primary"><i class="las la-calendar-day"></i></a>  
                <a href="?ref_month={{ next_month|date:'m-Y' }}" class="btn btn-sm btn-primary">{{ next_month|date:'m-Y' }}<i class="las la-angle-double-right"></i></a> 
            </div>
            <br/>
            <br/>
            <strong>Selected Range:</strong> <span class="badge badge-secondary" style="font-size: 13px;">{{ selected_range  }}</span></span><br/>
            {% include "em/account/filter.html" %}            
            {% for period, link in statements.items %}
                <li>
                    <a href="{{ link }}">{{ period }}</a>
                </li>
            {% endfor %}            
            <br/>
            <div>
                {% with transactions=transactions %}
                {% include "em/transaction/list.html" %}
                {% endwith %}
            </div>
        </div>        
    </div>
</div>

{% endblock %}

