<div class="card card-body"> 

    

    <hr/>
    <form class="form-inline" action="{% url 'em:home' %}" method="get" >
      <label class="sr-only" for="fromDate">From</label>
      <input type="date" class="form-control mb-2 mr-sm-2" id="fromDate" name="fromDate">
      <label class="sr-only" for="toDate">To</label>
      <input type="date" class="form-control mb-2 mr-sm-2" id="toDate" name="toDate">
      <button type="submit" class="btn btn-primary mb-2 btn-sm"><i class="las la-filter"></i> Filter</button>                                
  </form>
    

</div>