{% extends 'em/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>

    <div class="card mt-2">
        <div class="card-header">
            <div class="float-left"><h3><i class="{{ category.icon }}"></i> Accounts</h3></div>                        
        </div>
        <div class="card-body">
            
            <table class="table table-responsive">
                <thead>
                  <tr>                    
                    <th scope="col">Name</th>                    
                    <th scope="col">Type</th>                               
                    <th scope="col">Total Spendings</th>                               
                  </tr>
                </thead>
                <tbody>
                    {% for entry in data %}
                    <tr>                        
                        <th scope="row">
                            <a href="{% url 'em:account-detail' entry.account.pk %}">
                                #{{ entry.account.pk }} - <i class="{{ entry.account.icon }}"></i>{{ entry.account.name }} 
                            </a>
                        </th>                        
                        <td>
                            {% if entry.account.typ == "S" %}
                                SAVINGS
                            {% else %}
                                CREDIT
                            {% endif %}
                        </td>
                        <td>
                            {{ entry.spendings|floatformat }}
                        </td>
                    </tr>     
                    {% endfor %}                               
                </tbody>
              </table>
                       
        </div>        
    </div>       
</div>
{% endblock %}

