{% extends 'em/base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
<div>

    <div class="card mt-2 em-fg em-text">        
        <div class="card-body">

            <h3 class="card-title"><i class="{{ category.icon }}"></i> Accounts</h3>
            {% for account in accounts %}
                <div class="card em-bg em-text mt-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {% if account.account__act_type == 'credit' %}
                                    <div class="float-right" style="background-color: red; width: 5px; height: 80px;"></div>
                                {% else %}
                                    <div class="float-right" style="background-color: green; width: 5px; height: 80px;"></div>
                                {% endif %}
                                <h4 class="card-title">
                                    <a href="{% url 'em:account-detail' account.account %}" class="em-text">
                                        #{{ account.account }} - <i class="{{ account.account__icon }}"></i>{{ account.account__name }} 
                                    </a>
                                </h4>
                                <span class="secondary" style="color:gray;">
                                    Type: {{ account.account__act_type }}
                                </span><br/>
                                <span class="secondary" style="color:gray;">
                                    Spendings: {{ account.spendings|floatformat|intcomma }}
                                </span>
                            </div>                            
                        </div>
                    </div>
                </div>
            {% endfor %}
                        
        </div>        
    </div>       
</div>
{% endblock %}

